header {
  background: lavenderblush;
  height: 112px;
  width: 100%;
}
header > img {
    width: 120px;
    height: 120px;
    position: sticky;
    margin-left: 50%;
    margin-top: -18px;
}
header > a{
    margin: 6px;
    position: absolute;
    margin-top: 45px;
    color: black;
}
#elem-header{
  text-align: right;
  margin: 6px;
  position: absolute;
  margin-top: 45px;
  color: black;
}
nav {
  background: pink;
  height: 36px;
  text-align: center;
  position: inherit;
  top: 50px;
  width: 100%;
  padding: 20px;
  font-size: 30px;
  text-decoration: none;
  font-family: sans-serif;
}
nav > a {
  color: white;
}
nav input{
    height: 30px;
    width: 206px;
    margin-left: 84px;
}
nav button{
  height: 30px;
}
a {
  text-decoration: none;
  margin: 28px;
}
h1{
  text-align: center;
  font-size: 40px;
  color: darksalmon;
}
.prod-inicio {
  height: 500px;
  width: 617.6px;
  background-image: url("./imagenes/fondo-prod.jpg");
  display: inline-block;
  font-family: -webkit-pictograph;
  font-size: -webkit-xxx-large;
}
.prod-inicio > a {
  position: absolute;
  font-size: 50px;
  margin-top: 195px;
  color: lightblue;
  width: 50%;
  text-align: center;
  background: floralwhite;
}

.recomendaciones {
  height: 500px;
  width: 617.6px;
  background-image: url("./imagenes/fondo-recom.png");
  display: inline-block;
  font-family: -webkit-pictograph;
  font-size: -webkit-xxx-large;
}
.recomendaciones > a {
  position: absolute;
  background: floralwhite;
  font-size: 50px;
  margin-top: 195px;
  color: lightblue;
  width: 50%;
  text-align: center;
}

#img-prods {
  width: 300px;
  height: 300px;
}

.tarjetas {
  height: 369px;
  width: 306px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
}

.about h3{
  color:floralwhite;
  font-size: 30px;
  text-align: center;
  font-family: system-ui;
}
.about{
  opacity: 0.6;
  background-image: url("./imagenes/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.info-funcion {
  height: 500px;
  width: 617.6px;
  border: 1px solid black;
  display: inline-table;
  background: white;
  text-align: center;
  font-family: -webkit-pictograph;
  font-size: 28px;
}
.info-funcion button{
  border: 1px solid black;
  background: darkseagreen;
  height: 40px;
  width: 90px;
  font-family: cursive;
}
footer{
  background-color:lavenderblush;
  color: black;
  font-size: x-large;
  height: 170px;
  text-align: center;
  margin-top: 43px;
}

