<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        {{#if sesion.username}}
        <a href="/logout">CERRAR SESION</a>
        {{else}}
        <div id="elem-header">
            <a href="/logeo">INGRESAR</a>
            <a href="/publicar">PRESTAR</a>
        </div>
        {{/if}}
        <img src="/imagenes/Ecoperologo.png">
    </header>
    {{{body}}}
    <script src="buscar.js"></script>
    <script src="pedidos.js"></script>
</body>

</html>