<nav>
    <a href="/partearriba">Parte de arriba</a>
    <a href="/parteabajo">Parte de abajo</a>
    <a href="/monoprendas">Monoprendas</a>
    <input type="text" id="input-nombre" />
    <button id="btn-buscar">Buscar</button>
</nav>

<div class="principal">
    <div class="prod-inicio">
        <a href="/productos">PRODUCTOS</a>
    </div>
    <div class="recomendaciones">
        <a href="/recomendaciones">COMBOS</a>
    </div>
</div>

<h1>Quienes somos</h1>
<div class="about">
    <h3>Ecopero es un armario circular, podes alquilar prendas para una ocasion especial o combos por 30 dias e incluso comprarlas.</h3>
    <h3>La moda es la segunda industria que más contamina el planeta, es responsable de emitir más toneladas de CO2 que todos los aviones y barcos cargueros del mundo juntos.</h3>
    <h3>CUIDA TU BOLSILLO Y EL MEDIO AMBIENTE</h3>
</div>

<div>
    <h1>Como Funciona</h1>
    <div class="info-funcion">
        <h2>ALQUILAR O COMPRAR</h2>
        <h4>Podes alquilar prendas para un evento especial o combos por 30 dias. Te lo entregamos en 24h en casa , te lo pruebas y si no te convence te devolvemos el dinero. La tintorería está incluida, para que tú no te preocupes por nada.</h4>
        <button  id="btn-comprar">COMPRAR</button>
    </div>
    <div class="info-funcion">
        <h2>GANAR DINERO</h2>
        <h4>Rentabiliza esas prendas que tienes en tu armario ocupando espacio!! Nosotros nos ocupamos de la recogida, tintorería, sesión de fotos, y alquiler. Cada vez que la prenda se alquile te ingresamos el 35% y puedes recuperarla siempre que lo desees.</h4>
        <button id="btn-prestar">PRESTAR</button>
    </div>
</div>

<footer>
    <h4>+5493815111222</h4>
    <h4>tiendaecopero@ecopero.com.ar</h4>
    <h4>Corrientes 123,S.M de Tucuman</h4>
</footer>
