<nav>
    <a href="./productos.handlebars">Parte de arriba</a>
    <a href="http://">Parte de abajo</a>
    <a href="http://">Monoprendas</a>
</nav>
<div>
<div class="prod-inicio">
    <a href="listadeprod.handlebars"class="principal" >PRODUCTOS</a>
</div>
<div class="recomendaciones">
    <a href="/recomendaciones" class="principal">RECOMENDACIONES</a>
</div>
</div>