<nav>
    <a href="/partearriba">Parte de arriba</a>
    <a href="/parteabajo">Parte de abajo</a>
    <a href="/monoprendas">Monoprendas</a>
</nav>
<div>
<div class="prod-inicio">
    <a href="/productos"class="principal" >PRODUCTOS</a>
</div>
<div class="recomendaciones">
    <a href="/recomendaciones" class="principal">RECOMENDACIONES</a>
</div>
</div>