
  <ul>
    {{#each datos}}
      <li>{{this.nombre}}</a></li>
    {{/each}}
    {{#each datos1}}
      <li>{{this.nombre}}</a></li>
    {{/each}}
    {{#each datos2}}
      <li>{{this.nombre}}</a></li>
    {{/each}}
  </ul>

