  <body>
    <form action="/login" method="post">
      <input type="text" name="usr" id="usr" placeholder="Usuario" required/>
      <input type="password" name="pwd" id="pwd" placeholder="Contraseña" required/>
      <input type="submit" value="Login" />
      <h3>¿No tenés cuenta? Registrate completando tus datos</h3>
      <a href="/registro">REGISTRARSE</a>
    </form>
  </body>