    {{#each datos}}
    <div class="tarjetas">
        <img src="imagenes/mono-prendas/{{this.foto}}" id="img-prods" >
        <p>{{this.nombre}}</p>
        <a href="/comprar">Comprar: ${{this.precioC}}</a>
        <a href="/alquilar">Alquilar: ${{this.precioA}}</a>
    </div>
    {{/each}}