    {{#each datos}}
    <div class="tarjetas">
        <img src="imagenes/parte-abajo/{{this.foto}}" id="img-prods" >
        <p>{{this.nombre}}</p>
        <button id="compra">Comprar: ${{this.precioC}}</button>
        <button id="alquila">Alquilar: ${{this.precioA}}</button>
    </div>
    {{/each}}