<body>
    <h1>Crea tu cuenta</h1>
    <h3>Ingresa nombre de nuevo usuario y la contraseña</h3>
    <form action="/registro" method="POST">
      <input
        type="text"
        name="username"
        id="input-usuario"
        placeholder="Nombre de usuario"
        required
      />
      <input
        type="password"
        name="pass"
        id="input-contrasenia"
        placeholder="Contraseña"
        required
      />
      <input
        type="password"
        name="passrep"
        id="input-contrasenia-rep"
        placeholder="Repetir contraseña"
        required
      />
    <input
        type="text"
        name="name"
        id="input-usuario"
        placeholder="Nombre"
        required
      />
    <input type="file" id="input-img" name="userimg" />

    <input type="submit" value="REGISTRARSE" id="btn-ingresar" />
    </form>
  </body>